@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #1c1c22;
  --accent: #00d3bb;
  --hover: #00e187;
}
/* * {
  cursor: none !important;
} */

body {
  font-family: var(--font-jetBrainsMono);
  background-color: var(--primary);
}

/* styles/scrollbar.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00d3bb #000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #00d3bb #000;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00d3bb;
  border-radius: 4px;
  border: 1px solid #000;
}

.transparent {
  color: transparent;
  -webkit-text-stroke: 2px white;
  stroke: 2px white;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.shake-on-hover:hover {
  animation: shake 0.5s ease-in-out;
}

/* cursor */
/* .cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--accent);
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, 5);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
} */

/* preloader */
/* .typewriter{
  position: relative;
  -webkit-text-stroke: #00d3bb;
  stroke: 2px white;
}
h1::before{
  content:attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #00d3bb;
  letter-spacing: -15px;
  -webkit-text-stroke: white;
  overflow: hidden;
  border-right: 2px solid #00d3bb;
  animation: animate 6s linear infinite;

}
@keyframes animate  {
  0%, 10%, 100%
  {
    width:0;
  }
  70%, 90%
  {
    width:100%;
  }
} */
